.img_container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.img_inner_small {
    background-color: #333;
    max-width: 300px;
    height: 200px;
    border-radius: 6px;
    overflow: hidden;
}
.img_inner_large {
    background-color: #333;
    max-width: 450px;
    height: 300px;
    overflow: hidden;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 540px) {
    .img_inner_small,
    .img_inner_large {
        height: auto;
    }
    .img {
        object-fit: none;
    }
}
