.link {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #b3b3b3;
    transition: color 0.2s;
    &:hover {
        color: #fff;
    }
}
.active {
    color: #fff;
}
.text {
    font-size: 1.2rem;
}
