@import "../../scss/colors.scss";

.link {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: $gray;
    transition: color 0.2s;
    &:hover {
        color: $textMain;
    }
}
.active {
    color: $textMain;
}
.text {
    font-size: 1.2rem;
}
