@import "../../scss/colors.scss";

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.4rem;
}
.icon {
    margin-top: 2px;
    width: 16px !important;
    height: 16px !important;
}
.ellipsis {
    display: block;
    padding: 0.5rem;
    font-size: 1.1rem;
    color: $gray;
}
.button {
    border: none;
    outline: none;
    padding: 0.5rem;
    background-color: transparent;
    font-size: 1.1rem;
    color: $gray;
    transition: color 0.2s;
    cursor: pointer;
    &:hover {
        color: $textMain;
    }
}
.active {
    color: $textMain;
}
.disabled {
    border: none;
    outline: none;
    padding: 0.5rem;
    background-color: transparent;
    font-size: 1.1rem;
    color: $gray;
}
