.select {
    border: none;
    outline: none;
    border-radius: 1.5rem !important;
    width: 200px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    height: 40px;
    background-color: #fff;
    color: #000;
    fieldset {
        display: none;
    }
}
